<template>
    <div onclick={handlePlanSelected} class="row-para" >
        <div >
           {position}
        </div>
        <div>
            {plan._PublicId}
        </div>
        <div if:true={plan._Status}>
           Active
        </div>
        <div if:false={plan._Status}>
            Inactive
         </div>
        
    </div>
</template>