<template>
     <lightning-card>
    <div class="mg-32">
        <ul class="slds-grid slds-grid_pull-padded slds-wrap">
            <li class="slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_1-of-3">
                <a class="slds-app-launcher__tile slds-text-link_reset slds-truncate" >
                    <div class="slds-app-launcher__tile-figure symbol Commodity">
                        <lightning-icon  icon-name="custom:custom95">
                        </lightning-icon>
                    </div>
                    <div class="slds-app-launcher__tile-body">
                        <span class="slds-text-link">Performance</span>
                        <p>Performance Assessment Service</p>
                    </div>
                </a>
            </li>
            <li class="slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_1-of-3">
                <a class="slds-app-launcher__tile slds-text-link_reset slds-truncate" >
                    <div class="slds-app-launcher__tile-figure symbol Equity">
                        <lightning-icon  icon-name="custom:custom85">
                        </lightning-icon>
                    </div>
                    <div class="slds-app-launcher__tile-body">
                        <span class="slds-text-link">Properties</span>
                        <p>Properties Assessment Service</p>
                    </div>
                </a>
            </li>
            <li onclick={navigateToService} class="slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_1-of-3">
                <a class="slds-app-launcher__tile slds-text-link_reset slds-truncate" >
                    <div class="slds-app-launcher__tile-figure symbol Currency">
                        <lightning-icon  icon-name="custom:custom82">
                        </lightning-icon>
                    </div>
                    <div class="slds-app-launcher__tile-body">
                        <span class="slds-text-link">Scheduling</span>
                        <p>Scheduling Service</p>
                    </div>
                </a>
            </li>
            <li class="slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_1-of-3">
                <a class="slds-app-launcher__tile slds-text-link_reset slds-truncate" >
                    <div class="slds-app-launcher__tile-figure symbol Volatility">
                        <lightning-icon  icon-name="custom:custom64">
                        </lightning-icon>
                    </div>
                    <div class="slds-app-launcher__tile-body">
                        <span class="slds-text-link">Weather</span>
                        <p>Weather Service</p>
                    </div>
                </a>
            </li>
            <li  class="slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_1-of-3">
                <a class="slds-app-launcher__tile slds-text-link_reset slds-truncate" >
                    <div class="slds-app-launcher__tile-figure symbol Multi-Asset">
                        <lightning-icon  icon-name="custom:custom64">
                            </lightning-icon>
                    </div>
                    <div class="slds-app-launcher__tile-body">
                        <span class="slds-text-link">Document</span>
                        <p>Document Service</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    </lightning-card>
</template>

       
    </div>
</template>