<template>
    <div>Prashant</div>
    <lightning-card title="Service Order" icon-name="custom:custom85">
        <template if:false={recordId}>
            <c-inline-message
                message="Select a Plan to see details"
            ></c-inline-message>
        </template>
        <template if:true={serviceOrderList}>
            <div class="slds-m-around_medium">
                
            </div>
            <div class="container-box">
                <div class="row-heading">
                    <div>
                        Sr. No.
                    </div>
                    <div>
                        Public Id
                    </div>
                    <div>
                        Start
                    </div>
                    <div>
                        End
                    </div>
                    <div>
                        Status
                    </div>
                    <div>
                        Action
                    </div>
                </div>
                <div if:true={noRecordShow} class="pt10">
                    No Order Found!
                 </div>
                 <template
                 for:each={serviceOrderList}
                 for:item="order"
                 for:index="index">
                 <c-service-order
                 order={order}
                     index={index}
                     key={order._Id}
                     onselected={handleOrderSelected}
                     onactionchange={handleOrderChange}
                 ></c-service-order>
                 </template>
             </div>
        </template>
        <template if:true={isConfirmedPopUpShow}>
            <!--Modal Box Start-->
            <div role="dialog" class="slds-modal slds-fade-in-open ">
                    <div class="slds-modal__container">
                        <!--Modal Box Header Start-->
                        <header class="slds-modal__header">
                            <h1 class="slds-text-heading--medium">Confirmation</h1>
                        </header>
                        <!--Modal Box Header End-->
                         
                        <!--Modal Box Content Start-->
                        <div class="slds-modal__content slds-p-around--medium">
                            <center><b>Are you sure you want to update status of this order?</b></center>
                        </div>
                        <!--Modal Box Content End-->
                         
                        <!--Modal Box Button Start-->
                        <footer class="slds-modal__footer">
                            <lightning-button class="marR20" name='No' label='No' onclick='{handleConfirmDialogNo}'></lightning-button>
                            <lightning-button variant="brand" name='Yes' label='Yes' onclick='{handleConfirmDialogYes}'></lightning-button>
                        </footer>
                        <!--Modal Box Button End-->
                    </div>
                </div>
                <div class="slds-backdrop slds-backdrop--open"></div>            
            
        </template>

    </lightning-card>
</template>