<template>
    <div  class="row-para" >
    <div >
       {position}
    </div>
    <div>
        {item._Id}
    </div>
    <div >
        {item._PlannedDate}
    </div>
    <div if:true={item._WorkCompletedDate}>
        {item._WorkCompletedDate}
    </div>
    <div if:false={item._WorkCompletedDate}>
        N/A
    </div>
    <div>
        {statusFormated}
    </div>
    
    
</div>
</template>