.container-box {
    width: 100%;
    margin: 0 auto;
    text-align: center;

}

.row-heading {
    display: flex;
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb;
    background: #eee;
    flex-wrap: wrap;

}

.row-heading div {
    padding: 8px;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    font-weight: bold;
}

.row-para {
    display: flex;
    border-bottom: 1px solid #bbb;
    
    flex-wrap: wrap;
    cursor: pointer;

}
.row-para:hover {
    background: #eee;

}

.row-para div {
    padding: 8px;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.text-row{
    margin-top: 10px;
}