<template>
    <div onclick={handleOrderSelected} class="row-para" >
        <div class="text-row">
           {position}
        </div>
        <div class="text-row">
            {order._Id}
        </div>
        <div class="text-row" >
            {order._WindowStart}
        </div>
        <div class="text-row">
            {order._WindowEnd}
        </div>
        <div class="text-row">
            {statusFormated}
        </div>
        <div>
            <ul class="slds-grid slds-grid_pull-padded slds-wrap">
               
            <template
                for:each={getActionDropdown}
                for:item="action"
            >
            <li key={action.key} class="slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_1-of-4">
            <div onclick={actionChange}  data-status={action.value}  key={action.key} class="mofbold slds-p-around_medium">
                <lightning-icon title={action.label}  icon-name={action.icon} size="small">
                </lightning-icon> 
            </div>
            </li>
            </template>
            </ul>

            
        </div>
        
    </div> 
</template>