<template>
    <lightning-card title="Service Item" icon-name="custom:custom80">
        <template if:false={serviceItemList}>
            <c-inline-message
                message="Select a Order to see details"
            ></c-inline-message>
        </template>
        <template if:true={serviceItemList}>
            <div class="slds-m-around_medium">
                
            </div>
            <div class="container-box">
                <div class="row-heading">
                    <div>
                        Sr. No.
                    </div>
                    <div>
                        Public Id
                    </div>
                    <div>
                        Planned Date
                    </div>
                    <div>
                        Completed Date
                    </div>
                    <div>
                        Status
                    </div>
                   
                </div>
                <template
                for:each={serviceItemList}
                for:item="item"
                for:index="index">
                <c-service-item
                    item={item}
                    index={index}
                    key={item._Id}
                ></c-service-item>
                </template>
             </div>
        </template>
    </lightning-card>
</template>