<template>
    <lightning-card title="Service Plan" icon-name="custom:custom14">
        <div class="slds-card slds-p-around_small">
            <template if:true={servicePlanList}>
                <div class="container-box">
                    <div class="row-heading">
                        <div>
                            Sr. No.
                        </div>
                        <div>
                            Public Id
                        </div>
                        <div>
                            Status
                        </div>
                    </div>
                    <template
                    for:each={servicePlanList}
                    for:item="plan"
                    for:index="index">
                    <p key={plan._Id}>
                    <c-service-plan
                                plan={plan}
                                index={index}
                                key={plan._Id}
                                onselected={handlePlanSelected}
                            ></c-service-plan>
                        </p>
                    </template>
                
                </div>
            </template>
        </div>
    </lightning-card>
</template>